
<div class="row">

	<div class="col-md-2"> <div class="well"> CATEGORIES </div></div>
  <div class="col-md-10">

<!--Category 1
	-->
<div class="row">
<div class="well">
	<p> Category 1<p>
</div>

</div>

<!--Category 2
	-->
<div class="row">
<div class="well">
	<p> Category 2</p>
</div>

</div>

<!--Category 3
	-->
<div class="row">

<div class="well">
	<p> Category 3 <p>
</div>

</div>



  </div>
  
</div>